/*font*/
@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@600&family=Cardo&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Cardo', serif;
    font-size: 23px;
}

h1 {
    font-family: 'Akshar', sans-serif;
    font-size: 52px;
}

/*Nav bar*/

header {
    position: sticky;
    top: 0;
}
.navigation {
    background: #571C56;
    height: 100px;
    display: flex;  
    justify-content: space-between; 
    align-items: center;
    padding: 0 2em;
}

.logo {
    width: 150px;
}

.logo img {
    width: 100%;
}

nav {
    display: flex;
    text-transform: uppercase;
}

nav ul {
    padding: 0;
    display: flex;
    list-style: none;
}

nav li {
        margin-left: 3em;
    margin-bottom: 0;
}

nav a {
    color: #FDF9FD;
    font-family: 'Akshar', sans-serif;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
}

/*Hero Image Section*/

.hero {
    height: 100vh;
    background: url(images/bryce-canyon-hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.centered {
    background: hsba(0, 0%, 0%, 0.4);
    display: block;
    align-items: center;
    text-align: center;
    color: #FDF9FD;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*i will add the transparent background portion later*/
}

/*section 1 content*/

.sect-1 h1 {
    position: absolute;
    width: 534.31px;
    height: 148px;
    left: 91px;
    top: 1040px;
    color: #252525;
}

.sect-1 p {
    position: absolute;
    width: 522px;
    height: 553px;
    left: 91px;
    top: 1252px;
    color: #615161;
}

.sect-1 img {
    position: relative;
    width: 708px;
    height: 964px;
    left: 642px;
    top: 160px;
/*do not know why image is going over the nav bar*/
}

/*section 2 content*/

.sect-2 h1 {
    
}

/*section 5 modal content*/

.button {
    border: none;
    background: transparent;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background:rgba(0,0,0,0.5);
}

.modal-content {
    margin: 20% auto;
    width: 70%;
    animation-name: modalopen;
    animation-duration: 1s;
}

.modal-header h2, .modal-footer h3 {
    margin: 0;
}

.modal-header {
    padding: 15px;
}

.modal-body {
    padding: 10px 20px;
}

.modal-image {
    width: 100%;
    margin: 0 auto;
}

.modal-image img {
    width: 100%;
}

.closeBtn {
    color: #571C56;
    float: right;
    font-size: 30px;
}

.closeBtn:hover, .closeBtn:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

@keyframes modalopen {
    from {opacity: 0;}
    to {opacity: 1;}
}